body {
  background: rgb(54, 54, 54);
}

.main {
  background: #cfcfcf;
  height: 82%;
  padding-top: 39px;
  padding-bottom: 39px;
  margin-top: 90px;
  border-radius: 10px;
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

textarea {
  min-height: 12vh;
}

@media (max-height: 750px) {
  .main {
    height: 100%;
    margin-top: 0px;
    padding-top: 78px;
  }
}

h1 {
  color: #4d4d4d;
}

label {
  color: #4d4d4d;
}
